"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ada2f2a7-03ac-42fc-858d-d56eb9c230d0"
  "autocomplete-ruby":
    rsensePath: "/Users/stuartjohnson/.rvm/gems/ruby-2.3.1@jobber/wrappers/rsense"
  core:
    audioBeep: false
    disabledPackages: [
      "ex-mode"
      "speedkills"
      "activate-power-mode"
      "vim-mode"
      "atom-ctags"
      "terminal-plus"
      "rails-snippets"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "isotope-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    core:
      scrollback: 10000
    userId: "074e85f7-1c24-1453-7568-e84758cebc6b"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#073642"
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#d33682"
        red: "#dc322f"
        white: "#eee8d5"
        yellow: "#b58900"
      zBright:
        brightBlack: "#002b36"
        brightBlue: "#839496"
        brightCyan: "#93a1a1"
        brightGreen: "#586e75"
        brightMagenta: "#6c71c4"
        brightRed: "#cb4b16"
        brightWhite: "#fdf6e3"
        brightYellow: "#657b83"
    style:
      theme: "novel"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    addNewTabsAtEnd: true
  "tabs-to-spaces":
    onSave: "untabify"
  "terminal-plus":
    core: {}
    style:
      theme: "pro"
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
".ruby.source":
  editor:
    showIndentGuide: true
